### 연령별, 성별 선호 운동 데이터

#### 1. 종목명 가져오기

In [1]:
from supabase import create_client

url = "https://ydqqbjjsriadezcnkbmx.supabase.co"
key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlkcXFiampzcmlhZGV6Y25rYm14Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgyNDkzMjEsImV4cCI6MjA3MzgyNTMyMX0.U4-v7a40I2HUXJPb2oANFzqwA0QyEErTFEyrgqXdzeA"

supabase = create_client(url, key)

try:
    res = supabase.schema("sports_data").table("songpa_sports_data").select("ftype_nm").execute()
    
    if res.data:
        sports_nm = sorted({row["ftype_nm"] for row in res.data})
    else:
        sports_nm = []
except Exception as e:
    sports_nm = []

print(sports_nm)

['간이운동', '검도', '게이트볼', '골프', '권투', '농구', '당구', '러닝', '레슬링', '롤러스케이팅', '배드민턴', '복싱', '볼링', '사이클', '수영', '스크린야구', '야구', '요가', '유도', '주짓수', '축구', '킥복싱', '탁구', '태권도', '테니스', '풋살', '필라테스', '합기도', '헬스']

In [2]:
sports_nm

['간이운동',
 '검도',
 '게이트볼',
 '골프',
 '권투',
 '농구',
 '당구',
 '러닝',
 '레슬링',
 '롤러스케이팅',
 '배드민턴',
 '복싱',
 '볼링',
 '사이클',
 '수영',
 '스크린야구',
 '야구',
 '요가',
 '유도',
 '주짓수',
 '축구',
 '킥복싱',
 '탁구',
 '태권도',
 '테니스',
 '풋살',
 '필라테스',
 '합기도',
 '헬스']

#### 2. 성별/연령별 선호 종목 데이터프레임 만들기

In [6]:
import pandas as pd

ages = ['10대', '20대', '30대', '40대', '50대', '60대', '70대 이상']
gender = ['남', '여']

sports_nm_combinations = [
    '축구, 태권도, 야구, 복싱, 풋살, 주짓수, 킥복싱, 스크린야구, 농구, 유도',
    '태권도, 수영, 배드민턴, 합기도, 스크린야구, 롤러스케이팅, 검도',
    '헬스, 축구, 당구, 골프, 볼링, 복싱, 권투, 주짓수, 스크린야구, 농구, 유도',
    '헬스, 요가, 필라테스, 수영, 테니스, 킥복싱, 스크린야구, 롤러스케이팅',
    '골프, 축구, 테니스, 탁구, 헬스, 복싱, 레슬링, 스크린야구, 검도',
    '골프, 요가, 필라테스, 수영, 테니스, 배드민턴, 헬스, 스크린야구',
    '골프, 테니스, 축구, 헬스, 사이클',
    '골프, 테니스, 수영, 러닝, 헬스, 롤러스케이팅',
    '골프, 테니스, 간이운동장, 당구, 게이트볼, 사이클',
    '골프, 테니스, 간이운동장, 수영, 생활체육관',
    '간이운동, 골프, 당구, 러닝',
    '간이운동, 수영, 러닝',
    '간이운동',
    '간이운동'
]

pairs = []
for a in ages:
    for g in gender:
        pairs.append([a, g])

sports_pref = pd.DataFrame(pairs, columns=['ages', 'gender'])
sports_pref['sports_nm'] = sports_nm_combinations
sports_pref.insert(0, 'id', sports_pref.index)



print(sports_pref.to_string())

    id    ages gender                                       sports_nm
0    0     10대      남    축구, 태권도, 야구, 복싱, 풋살, 주짓수, 킥복싱, 스크린야구, 농구, 유도
1    1     10대      여           태권도, 수영, 배드민턴, 합기도, 스크린야구, 롤러스케이팅, 검도
2    2     20대      남  헬스, 축구, 당구, 골프, 볼링, 복싱, 권투, 주짓수, 스크린야구, 농구, 유도
3    3     20대      여       헬스, 요가, 필라테스, 수영, 테니스, 킥복싱, 스크린야구, 롤러스케이팅
4    4     30대      남         골프, 축구, 테니스, 탁구, 헬스, 복싱, 레슬링, 스크린야구, 검도
5    5     30대      여          골프, 요가, 필라테스, 수영, 테니스, 배드민턴, 헬스, 스크린야구
6    6     40대      남                            골프, 테니스, 축구, 헬스, 사이클
7    7     40대      여                     골프, 테니스, 수영, 러닝, 헬스, 롤러스케이팅
8    8     50대      남                   골프, 테니스, 간이운동장, 당구, 게이트볼, 사이클
9    9     50대      여                       골프, 테니스, 간이운동장, 수영, 생활체육관
10  10     60대      남                                간이운동, 골프, 당구, 러닝
11  11     60대      여                                    간이운동, 수영, 러닝
12  12  70대 이상      남                                            간이운동
13  13  70대 이상      여                                            간이운동

In [7]:
df4 = sports_pref

In [8]:
df4

    id    ages gender                                       sports_nm
0    0     10대      남    축구, 태권도, 야구, 복싱, 풋살, 주짓수, 킥복싱, 스크린야구, 농구, 유도
1    1     10대      여           태권도, 수영, 배드민턴, 합기도, 스크린야구, 롤러스케이팅, 검도
2    2     20대      남  헬스, 축구, 당구, 골프, 볼링, 복싱, 권투, 주짓수, 스크린야구, 농구, 유도
3    3     20대      여       헬스, 요가, 필라테스, 수영, 테니스, 킥복싱, 스크린야구, 롤러스케이팅
4    4     30대      남         골프, 축구, 테니스, 탁구, 헬스, 복싱, 레슬링, 스크린야구, 검도
5    5     30대      여          골프, 요가, 필라테스, 수영, 테니스, 배드민턴, 헬스, 스크린야구
6    6     40대      남                            골프, 테니스, 축구, 헬스, 사이클
7    7     40대      여                     골프, 테니스, 수영, 러닝, 헬스, 롤러스케이팅
8    8     50대      남                   골프, 테니스, 간이운동장, 당구, 게이트볼, 사이클
9    9     50대      여                       골프, 테니스, 간이운동장, 수영, 생활체육관
10  10     60대      남                                간이운동, 골프, 당구, 러닝
11  11     60대      여                                    간이운동, 수영, 러닝
12  12  70대 이상      남                                            간이운동
13  13  70대 이상      여                                            간이운동

###  데이터베이스 업로드

In [10]:
import numpy as np
from supabase import create_client

url = "https://ydqqbjjsriadezcnkbmx.supabase.co"
key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlkcXFiampzcmlhZGV6Y25rYm14Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgyNDkzMjEsImV4cCI6MjA3MzgyNTMyMX0.U4-v7a40I2HUXJPb2oANFzqwA0QyEErTFEyrgqXdzeA"
table_name = "sports_pref"

supabase = create_client(url, key)

df_prepared = df4.replace([np.nan, np.inf, -np.inf], None)
records = df_prepared.to_dict(orient='records')

try:
    supabase.schema("sports_data").table(table_name).delete().neq("id", -1).execute()
    supabase.schema("sports_data").table(table_name).insert(records).execute()
    print("완료")
except Exception as e:
    print(e)

완료