APP SCHEMA 전용 데이터

0. sonapa_sports_data 데이터프레임 불러오기

In [1]:
from supabase import create_client
import pandas as pd

url = "https://ydqqbjjsriadezcnkbmx.supabase.co"
key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlkcXFiampzcmlhZGV6Y25rYm14Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgyNDkzMjEsImV4cCI6MjA3MzgyNTMyMX0.U4-v7a40I2HUXJPb2oANFzqwA0QyEErTFEyrgqXdzeA"
supabase = create_client(url, key)

try:
    response = (
        supabase
        .schema("sports_data")
        .table("songpa_sports_data")
        .select("*")
        .execute()
    )
    data_list = response.data

    if data_list:
        merged_df = pd.DataFrame(data_list)
        merged_df.head()

except:
    pass

In [2]:
merged_df.head()

,faci_cd,faci_nm,faci_addr,faci_lat,faci_lot,ftype_nm,inout_gbn_nm
0,footsal8,강동송파풋살장,서울 송파구 풍납동 403-2,37.529031,127.116078,풋살,실외
1,05CD128F53FF40BA6CF707D4368F4E39,피오,서울특별시 송파구 송파동 16-1 덕원빌딩,37.507342,127.107690,헬스,실내
2,0FF4792CA7A3F881BC6E33D702AD3E23,아미부트캠프,서울특별시 송파구 송파동 47-9 대우빌딩,37.507946,127.110267,헬스,실내
3,DA9D783E9D2B90F71A7D88801A8DEA46,서세환 짐,서울특별시 송파구 삼전동 176 우진빌딩,37.500729,127.095113,헬스,실내
4,8A25D410CD4E4C4FB813C746175575F4,바디클락,서울 송파구 문정동 620,37.480835,127.121278,헬스,실내

1. 운동 장소 데이터 프레임

In [3]:
cols = ["faci_nm", "faci_lat", "faci_lot"]
tmp = merged_df[cols].dropna()

df_faci = tmp.copy()
df_faci.insert(0, "id", range(1, len(tmp) + 1))
df_faci

      id           faci_nm   faci_lat    faci_lot
0      1           강동송파풋살장  37.529031  127.116078
1      2                피오  37.507342  127.107690
2      3            아미부트캠프  37.507946  127.110267
3      4             서세환 짐  37.500729  127.095113
4      5              바디클락  37.480835  127.121278
..   ...               ...        ...         ...
445  446  스트라이크존 서울가락시장역구장  37.495730  127.120518
446  447     스트라이크존 서울잠실구장  37.510297  127.080431
447  448         리얼야구존 신천점  37.510644  127.083888
448  449         와일드피칭 신천점  37.510274  127.082499
449  450              엑스필존  37.494347  127.121413

[450 rows x 4 columns]

2. 운동 종목 데이터 프레임

In [7]:
unique_vals = merged_df["ftype_nm"].dropna().unique()

df_ftype = pd.DataFrame({
    "id": range(1, len(unique_vals) + 1),
    "ftype_nm": unique_vals
})
df_ftype

    id ftype_nm
0    1       풋살
1    2       헬스
2    3       유도
3    4     간이운동
4    5      태권도
5    6       축구
6    7       권투
7    8       검도
8    9       당구
9   10       골프
10  11      테니스
11  12     배드민턴
12  13       수영
13  14       복싱
14  15       야구
15  16     게이트볼
16  17       농구
17  18   롤러스케이팅
18  19      사이클
19  20       러닝
20  21       탁구
21  22       볼링
22  23       요가
23  24     필라테스
24  25      주짓수
25  26      킥복싱
26  27      레슬링
27  28      합기도
28  29    스크린야구

데이터베이스 업로드

In [9]:
from supabase import create_client

url = "https://ydqqbjjsriadezcnkbmx.supabase.co"
key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlkcXFiampzcmlhZGV6Y25rYm14Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgyNDkzMjEsImV4cCI6MjA3MzgyNTMyMX0.U4-v7a40I2HUXJPb2oANFzqwA0QyEErTFEyrgqXdzeA"
supabase = create_client(url, key)

try:
    supabase.schema("app").table("sports_list").delete().neq("id", 0).execute()
except:
    pass

try:
    supabase.schema("app").table("sports_location").delete().neq("faci_cd", "0").execute()
except:
    pass

try:
    supabase.schema("app").table("sports_location").insert(
        df_faci.to_dict(orient="records")
    ).execute()
except:
    pass

try:
    supabase.schema("app").table("sports_list").insert(
        df_ftype.to_dict(orient="records")
    ).execute()
except:
    pass